{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! Navgation there }}
{{navigation}}

<div class="container">
    <div class="menu-mask"></div>
    <div class="movie-page">
        <video muted autoplay loop preload="auto" poster="{{asset "imgs/movie-alt.jpg"}}" class="movie">
            <source src="{{asset "videos/movie.mp4"}}" type="video/mp4">
            <source src="{{asset "videos/movie.webm"}}" type="video/webm">
        </video>
        <div class="movie-cover">
        <div class="footer-dim"></div>
        </div>
        {{#if @blog.cover}}
        <div class="intro-panel" style="background-image: url({{@blog.cover}})"></div>
        {{else}}
        <div class="intro-panel">
            <h2>{{@blog.description}}</h2>
        </div>
        {{/if}}
    </div>
    <div class="school-page"  id="school-page">
        <h1 class="en">THE SCHOOL</h1>
        <div class="intro-div">
            <div class="halftone-img"></div>
            <div class="intro-text">
                <div class="logo"></div>
                <h2>Program</h2>
                <p class="program-text">
                    {{#get "posts" filter="slug:program-introduction" limit="1"}}
                    {{#foreach posts}}
                        {{content}}
                    {{/foreach}}
                    {{/get}}
                </p>
                <div class="divider" id="admission-page"></div>
                <h2>Admission</h2>
                <p class="admission-text">
                    {{#get "posts" filter="slug:admission-policy" limit="1"}}
                    {{#foreach posts}}
                        {{content}}
                    {{/foreach}}
                    {{/get}}
                </p>

            </div>
        </div>
    </div>
    <div class="events-page" id="events-page">
        <h1>UPCOMING EVENTS</h1>
        <div class="events-box">
            {{> "event"}}
        </div>
    </div>
    <div class="gallery-page" id="gallery-page">
        <div class="gallery-items clearfix">
                <div class="gallery-item gallery-title">
                    <h1>GALLERY</h1>
                    <p>
                        The more technique you have,<br>
                        the less you have to worry about it.<br>
                        The more technique there is,<br>
                        the less there is.<br>
                        <br>
                        <span>Pablo Picasso</span>
                    </p>
                </div>
                {{> "gallery"}}
        </div>
    </div>
    <div class="contact-page" id="contact-page">
        <div id="allmap"></div>
    </div>
    {{> "footer"}}
